.task {
    background: #f1d2d2;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.task.reminder {
    border-left: 8px solid green;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}